
Code/bin/Debug/net7.0/Code.deps.json
Code/bin/Debug/net7.0/Code.dll
Code/bin/Debug/net7.0/Code.exe
Code/bin/Debug/net7.0/Code.pdb
Code/bin/Debug/net7.0/Code.runtimeconfig.json
Code/Code.csproj
Code/obj/Code.csproj.nuget.dgspec.json
Code/obj/Code.csproj.nuget.g.props
Code/obj/Code.csproj.nuget.g.targets
Code/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Code/obj/Debug/net7.0/apphost.exe
Code/obj/Debug/net7.0/Code.AssemblyInfo.cs
Code/obj/Debug/net7.0/Code.AssemblyInfoInputs.cache
Code/obj/Debug/net7.0/Code.assets.cache
Code/obj/Debug/net7.0/Code.csproj.AssemblyReference.cache
Code/obj/Debug/net7.0/Code.csproj.CoreCompileInputs.cache
Code/obj/Debug/net7.0/Code.csproj.FileListAbsolute.txt
Code/obj/Debug/net7.0/Code.dll
Code/obj/Debug/net7.0/Code.GeneratedMSBuildEditorConfig.editorconfig
Code/obj/Debug/net7.0/Code.genruntimeconfig.cache
Code/obj/Debug/net7.0/Code.GlobalUsings.g.cs
Code/obj/Debug/net7.0/Code.pdb
Code/obj/Debug/net7.0/ref/Code.dll
Code/obj/Debug/net7.0/refint/Code.dll
Code/obj/project.assets.json
Code/obj/project.nuget.cache
Test/bin/Debug/net7.0/CoverletSourceRootsMapping
Test/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Test/obj/Debug/net7.0/Test.AssemblyInfo.cs
Test/obj/Debug/net7.0/Test.AssemblyInfoInputs.cache
Test/obj/Debug/net7.0/Test.assets.cache
Test/obj/Debug/net7.0/Test.csproj.AssemblyReference.cache
Test/obj/Debug/net7.0/Test.GeneratedMSBuildEditorConfig.editorconfig
Test/obj/Debug/net7.0/Test.GlobalUsings.g.cs
Test/obj/project.assets.json
Test/obj/project.nuget.cache
Test/obj/Test.csproj.nuget.dgspec.json
Test/obj/Test.csproj.nuget.g.props
Test/obj/Test.csproj.nuget.g.targets
Test/Test.csproj
Test/Usings.cs
